@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f172a;
  --foreground: #f1f5f9;
}

body {
  color: var(--foreground);
  background: linear-gradient(to bottom right, #0f172a, #1e293b, #0f172a);
  min-height: 100vh;
}

